# fly.toml app configuration file generated for job-search-agent on 2025-12-26T13:50:19+09:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'job-search-agent'
primary_region = 'nrt'

[build]

[env]
  DATABASE_URL = 'sqlite:////data/jobs.db'

[[mounts]]
  source = 'jobsearch_data'
  destination = '/data'

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
